input{
    display: block;
}
p{
    margin: 0px;
}
.box{
    cursor: pointer;
}
.channel-image{
    width: 100%;
    border-radius: 50px;
    margin-right: 7px;
}
.video-title{
    font-family: roboto, Arial;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
.stats{
    font-family: roboto, Arial;
    color: rgb(96, 96, 96);
    font-size: 12px;
    margin-bottom: 7px;
}
.page-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 30px;
}
.subimage-grid{
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 15px;
}